
<body>

	<header><h1>Log in!</h1></header>

	<div id="new_sess_container">

		<%= form_tag sessions_path do %>
		  		    
		    <%= text_field_tag(:email, params[:email], placeholder: "Email") %>
		  		    
		    <%= password_field_tag(:password, "", placeholder: "Password") %>

		  	<%= submit_tag %>

		<% end %>

</body>