<header>
	<h1>Sign in!</h1>
</header>
<div id="sess_new_container">
	<%= form_tag sessions_path do %> 		    
	    <%= text_field_tag(:email, params[:email], placeholder: "Email") %>   
	    <%= password_field_tag(:password, "", placeholder: "Password") %>
	  	<%= submit_tag "Sign in" %>
	<% end %>