body
{
  /* Background pattern from Subtle Patterns */
  background-image: url("img/wood_1.png");
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  margin: 0;
}

header
{
  text-align: center;
  margin-top: 50px;
}

footer
{
  background-color: black;
  text-align: center;
  padding: 25px;
}

main
{
  text-align: center;
  background-color: grey;
  width: 700px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(213,232,178,0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(213,232,178,0.9);
  box-shadow: 3px 3px 30px 5px rgba(213,232,178,0.9); 
  color: black;
}

h1
{
  font-size: 50px;
  font-family: 'Playfair Display';
}

a:link
{
  color: yellow;
  text-decoration: none;
}

a:visited
{
  color: yellow;
}

a:hover
{
  color: red;
  text-decoration: underline;
}

#header
{
  height: 100px;
  margin: 0;
}

#user_nav
{
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;  
  text-align: right;
}

#header1
{  
  margin-top: 26px;
  font-size: 40px;
  border: 1px solid white;
  height: auto;
  float: left;
  text-align: center;
  margin-left: 50px;
  padding: 10px;
}

#new_sess_container
{
  background-color: grey;
  width: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(213,232,178,0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(213,232,178,0.9);
  box-shadow: 3px 3px 30px 5px rgba(213,232,178,0.9); 
  color: black;
}

input[type=text],
input[type=password]
{ 
  width: 100%;  
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

textarea
{
  width: 680px;
  margin-top: 20px;
  min-width: 60%;
  max-width: 97.1428571%;
  font-size: 15px;
  padding: 10px;
  color: #666;
  outline: none;
  border-radius: 10px;
}

input[type=file]
{
  width: 400px;
  margin: 10px;
  margin-left: 50px;
  display: inline-block;
  font-size: 20px;
  outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus
{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
  box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9); 
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}

input[type=submit]
{
  width: 300px;
  background-color: #36b06c;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  margin-top: 10px;
}

input[type=submit]:focus,
input[type=file]:focus
{
  -webkit-box-shadow: 0px 0px 15px 5px rgba(200,200,200,0.9);
  -moz-box-shadow: 0px 0px 15px 5px rgba(200,200,200,0.9);
  box-shadow: 0px 0px 15px 5px rgba(200,200,200,0.9); 
}

input[type=submit]:hover,
input[type=file]:hover
{
  background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

#flash_alert
{
  text-align: center;
  color: red;
  font-size: 48px;
}

.error_messages
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%
}

.error_messages > h2
{
  color: red;
}
.error_messages > ul > li
{
  text-align: left;
}

#container_new_user
{
  text-align: center;
}

.content
{  
  margin-top: 50px;
  text-align: center;
}

.project
{
  background-image: url("img/dark_wood.png");
  width: 80%;
  margin-left: 4%;
  margin-right: 1%;
  float: left;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
}

.project_container
{
  border-bottom: 1px ridge lightgrey;
}

.creator
{
  width: 10%;  
  float: left;
  font-size: 100px;
  color: white;
}

.project_view
{
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  float: left;
  text-align: left;
  font-size: 24px;
  overflow: auto;
}

.project_data
{
  width: 25%;
  height: 35px;
  margin-top: 20px;
  margin-left: 5%;
  text-align: center;
  clear: both;
  font-size: 10px;
}

.project_update
{
  width: 10%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  float: left;
  text-align: center;
  font-size: 10px;
}

.project_icon
{
  width: 5%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  float: right;
  text-align: center;
}


.project_icon > p
{
  font-size: 14px;
}

.list
{
  text-align: center;
  float: right;
  width: 5%;
}

.list > ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.list:hover > ul
{  
  display: block;
}

.list > ul > li
{  
  position: relative;
  font-size: 18px;
  display: block;
  padding-top: 8px;
  border-bottom: 1px solid white;
}

.icon-plus-squared
{
  color: white;
}

.image
{
  display: inline-block;
  width: 15%;
  float: left;
  height: 100%;
  margin-top: 15px;
  font-size: 10px;
}

.headerShowProj
{
  width: 80%;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
}

.title
{
  text-align: center;
  width: 90%;
  border-bottom: : 1px solid white;
  float: left;
}

.title > h1
{
  margin: 0;
}

.showHeaderTop
{
  text-align: center;
}

.showName
{
  font-size: 32px;
  text-align: center;
  width: 90%;
  letter-spacing: 2px;
  padding-left: 10px;
}

.showIcon
{
  float: right;
  width: 5%;
}

.showHeaderBottom
{
  height: 25px;
}

.showBack
{  
  float: left;
}

.showCreate
{
  font-size: 10px;
  float: right;
  margin-top: 15px; 
  vertical-align: text-bottom;
}

.contentShowProj
{
  background-color: black;
  width: 80%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.showImage
{
  float: left;
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
}

.showArticle
{
  font-size: 18px;
}

.commentsShowProj
{
  background-color: #0D112B;
  width: 80%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  padding: 20px;
}

.titleComments
{
  float: left;
  width: 80%;
  text-align: center;
}

.creator#show
{
  margin: 20px;
  float: right;
  font-size: 32px;
  width: 10%;
  transition: all 0.5s ease-in-out;
}

.creator#show:hover
{
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2); 
}

.comment
{
  clear: both;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 15px;
  width: 85%;
}

.comment:first-child
{
  border-top: 1px solid white;
}

.commentTop
{
  height: 30px;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.commentAuthor
{
  float: left;
  font-size: 13px;
  color: #A87E00;
}

.commentTimeStamps
{
  float: left;
  font-size: 10px;
  margin-left: 20px;
  margin-top: 2.5px;
}

.commentIcon
{
  float: right;
  margin-left: 10px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.commentIcon:hover
{
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.commentBottom
{
  clear: both;
  font-size: 15px;
  text-align: justify;
}

.Back
{
  margin-top: 20px;
}

.label 
{
  margin: 10px;
}

.starRating
{  
  float: left;
  vertical-align: middle;
  margin-top: 25px;
  margin-left: 10%;
  font-size: 10px;
}