
.icon-pencil-1:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */