
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-doc-add:before { content: '\e801'; } /* '' */
.icon-pencil-1:before { content: '\e802'; } /* '' */
.icon-trash:before { content: '\e803'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */