.main_project_container
	margin-top: 50px

.projects_list
	background-image: url("img/dark_wood.png");
	float: left;
	border: 2px solid white;
	border-radius: 20px;
	+size(80%, auto)
	+margin(null 4% 1%)
	+padding(20px)

.project_container
	border-bottom: 1px ridge lightgrey

.project_name
	float: left;
	text-align: left;
	font-size: 24px;
	overflow: auto;
	+size(50%, 50px)
	+margin(20px null null 5%)

.project_image
	display: inline-block;
	float: left;
	margin-top: 15px;
	font-size: 10px;
	+size(15%, 100%)

#starRating
	float: left;
	vertical-align: middle;	
	font-size: 10px;
	+margin(25px null null 10%)

.list
	float: right
	+size(5%, auto)
	ul